#Local host only checks, all other

# using dns resolution instead
define host {
    use generic-host
    host_name gitlab
    address gitlab.c.hd-build.internal
}

# have to do everything via NRPE

define service {
    use generic-service
    host_name gitlab
    service_description sdb Disk Space
    check_command check_nrpe_1arg!check_sdb
}
